      * {
          font-family: roboto;
          font-weight: 400;
          box-sizing: border-box;
      }
      
      html,
      body {
          padding: 0%;
          margin: 0%;
      }
      
      header {
          background-color: #9BD2DE;
          width: 100%;
          Height: 180px;
          display: flex;
          align-items: center;
          justify-content: space-around;
      }
      
      nav {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          cursor: pointer;
      }
      
      nav ul {
          display: flex;
          justify-content: flex-end;
      }
      
      nav li {
          display: flex;
          justify-content: space-between;
          margin: 1rem;
      }
      
      .menu {
          text-decoration: none;
      }
      
      .container_horizontal {
          display: flex;
          align-items: center;
      }
      
      .container_horizontal p,
      h2 {
          margin: 0 0 0 0.6rem;
      }
      
      main {
          background-color: white;
          Height: 100%;
      }
      
      .meio_topo {
          margin: 1rem;
          text-align: center;
      }
      
      .section1 {
          margin: 4rem;
      }
      
      .filmes div img {
          width: 280px;
      }
      
      .filmes h2,
      h3 {
          text-align: start;
          margin: 0;
      }
      
      .btn_listar_filmes {
          text-align: end;
          text-decoration: none;
      }
      
      .btn_listar_filmes button {
          background-color: #F6511D;
          cursor: pointer;
          color: white;
          margin: 4rem;
          width: 180px;
          height: 58px;
          border: none;
      }
      
      #FooterGeral {
          display: flex;
          justify-content: center;
          height: 10rem;
          width: 50%;
          justify-content: space-evenly;
      }
      
      footer {
          background-color: #F6511D;
          height: 250px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
      
      .container_esquerdo {
          display: flex;
      }
      
      .palitinho {
          display: flex;
          border: 1px solid #FFFFFF;
      }
      
      .container_direito {
          text-align: end;
          color: white;
          text-align: start;
          justify-content: space-between;
      }