<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Style.css">
    <script src="../Javascript/Script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Senai Filmes</title>
</head>

<body>
    <header>
        <div>
            <div class="container_horizontal">

                <a href="#">

                    <img src="../IMG/Logo_Filmes.png" alt="logo de filmes" class="logo">
                </a>
                <div>
                    <h2>Filmes</h2>
                    <p>Colletions</p>
                </div>
            </div>
        </div>
        <div>
            <nav class="menu">
                <ul>
                    <li>
                        Perfil
                    </li>
                    <li>
                        Filmes
                    </li>
                    <li>
                        Gênero
                    </li>
                </ul>
            </nav>
        </div>


    </header>
    <main>
        <section class="meio_topo">
            <h1>Filmes</h1>
            <img src="../IMG/Cinema_IMG.png" alt="icon de filmes" class="icon">

        </section>
        <section class="section1">
            <div class="container_horizontal2">
                <div>
                    <h2>Lista de filmes</h2>
                    <div class="texto">
                        <div class="filmes">
                            <div>
                                <img src="../IMG/batman_capa.jpg" alt="capa de filme" class="capa">
                                <h2>Batman</h2>
                                <h3>ação</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="btn_listar_filmes">

            <button onclick="Login()">
                Listar filmes
            </button>
        </section>
    </main>
    <footer>
        <div id="FooterGeral">
            <div>


                <div class="container_horizontal">
                    <img src="../IMG/Logo_Preto.png" alt="logo de filmes modo dark" class="logo_dark" />
                    <div>
                        <h2>Filmes</h2>
                        <p>Colletions</p>
                    </div>
                </div>
            </div>
            <div class="palitinho"></div>
            <div class="container_direito">
                <p>Company Inc., 8901 Marmora Road, Glasgow, D04 89GR </p>
                <P>Call us now toll free: (800)2345-6789</P>
                <P> Customer support: support@demolink.org</P>
                <P>Skype: sample-username</P>
            </div>
        </div>
    </footer>
</body>

</html>